DATABASE_URL=
REDIS_URL=
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_SECURE=false
MINIO_BUCKET=stairs
MINIO_PUBLIC_URL=http://localhost:9000
CORS_ORIGIN=
STRAPI_HOST=strapi:1337
STRAPI_PROXY_TOKEN=